{% extends 'default.html' %}


{% block title %}
NEWS
{% endblock title %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-6 mb-3">
        {{ form }}
    </div>
    {% if isUpdateView  %}
        <input type="submit" value="Сохранить изменения" class="btn btn-primary">
        {% else %}
        <input type="submit" value="Добавляем" class="btn btn-primary">
    {% endif %}
</form>

{% if is_not_avthor %}
<button> <a href="upgrade/"> Стать автором </a> </button>
{% endif %}

{% endblock content %}